<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

<div id="all">

    {{ partial "nav.html" . }}

    {{ partial "breadcrumbs.html" . }}

    <div id="content">
        <div class="container">
            <div class="row">
                <!-- *** LEFT COLUMN *** -->

                {{ .Content }}

                <div class="col-md-9" id="blog-listing-medium">

                    {{ range .Pages }}
                    <div class="toc">
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </div>
                    {{ end }}

                    <br><br>

                </div>
                <!-- /.col-md-9 -->

                <!-- *** LEFT COLUMN END *** -->

                <!-- *** RIGHT COLUMN ***
   _________________________________________________________ -->

                <div class="col-md-3">

                    <!-- *** MENUS AND WIDGETS *** -->

                    {{ partial "sidebar.html" . }}

                    <!-- *** MENUS AND FILTERS END *** -->

                </div>
                <!-- /.col-md-3 -->

                <!-- *** RIGHT COLUMN END *** -->

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->

    {{ partial "footer.html" . }}

</div>
<!-- /#all -->

{{ partial "scripts.html" . }}

</body>
</html>
