/* your styles go here */
.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

/* style overrides */
body {
  font-size: 20px;
}

pre {
  font-size: 18px;
}

/* page navigation (next/prev) links for the bottom of "single" pages */
div.pagenav  {
  background-color: #f1f1f1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div.bottomnav > a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

div.bottomnav > a:hover {
  background-color: #ddd;
  color: black;
}

div.bottomnav-left {
  color: black;
  align: left;
}

div.bottomnav-right {
  color: black;
  float: right;
}


/* TOC lists (for documentation) */
div.toc > a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  width: 80%;
  font-size: large;
  color: black;
}

div.toc > a:hover {
  background-color: #ddd;
  color: black;
}
